body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: #fff;
}

.clock{
    font-size: 8vw;
    font-weight: 900;
    font-family: monospace;
}
.clock.box{
    border: 1px solid black;
    width: 30px;
    padding: 20px;
}
.day{
    text-align: center;
    font-family: monospace;
}

footer{
    text-align: center;
    font-family: monospace;
    color: rgba(168, 165, 165, 0.342);
}