body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock{
    font-size: 4rem;
    font-weight: 900;
    font-family: monospace;
}
.clock.box{
    border: 1px solid black;
    width: 30px;
    padding: 20px;
}